.infobox{
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    gap: 20px;
    margin-top: 20px;
}